.profile__edit-button {
  appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-right: 200px;
  padding-top: 35px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 897px) {
  .profile__edit-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 610px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
