.popup__form-name {
  appearance: none;
  border: none;
  width: 358px;
  min-height: 27px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

@media screen and (max-width: 897px) {
  .popup__form-name {
    max-width: 238px;
  }
}
