.profile__add-button {
  width: 150px;
  height: 50px;
  border: white solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 897px) {
  .profile__add-button {
    width: 282px;
  }
}
