.profile__job {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 897px) {
  .profile__job {
    margin-top: 14px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 610px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
