.profile__button_avatar {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  transition: .3s;
  width: 130px;
  height: 130px;
}

.profile__button_avatar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
